# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Chess related
*.pgn
*.epd
*.fen
*.cfg
*.rar

# VS related
*.pyproj
*.sln


*.sh
.cached.db

# strange files
chess
chess.uci
copy
io
re
sys
time
traceback
